/backup
/logs
/plugins
/active_players
/split-regions-to-chunks
*.tar.gz
*.jar
*.log
*.cmake
eula.txt
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
ops.json
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json
CMakeFiles
CMakeCache.txt
Makefile
