[submodule "src/libminecraft-file"]
	path = src/libminecraft-file
	url = https://github.com/kbinani/libminecraft-file.git
[submodule "src/hwm.task"]
	path = src/hwm.task
	url = https://github.com/hotwatermorning/hwm.task.git
