/backup
/logs
/plugins
/active_players
*.tar.gz
*.jar
*.log
eula.txt
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
ops.json
paper.yml
permissions.yml
server.properties
spigot.yml
usercache.json
version_history.json
whitelist.json

